<nav>
  <div class="nav-wrapper">
    <ul id="nav-mobile">
{{!-- <nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"> --}}
            <ul class="left hide-on-med-and-down">
                {{#if isHome }}{{else}}
                  <li><a href="/">Главная</a></li>
                {{/if}}  
                {{#if isAuth }}{{else}}
                  <li><a href="/signup">Регистрация</a></li>
                {{/if}}
                {{#if isExecutor }}
                  <li><a href="/orders">Заказы</a></li>
                {{else}}
                  <li> <a href="/services">Услуги</a></li>
                {{/if}}
            </ul>

            <ul class="right hide-on-med-and-down">
                {{#if isAuth}}
                  {{#if isExecutor}}
                    <li><a href="/executor">Профиль</a></li>
                  {{else}}
                    <li><a href="/customer">Профиль</a></li>
                  {{/if}}
                {{else}}
                  <li><a class="modal-trigger" href="/login">Вход</a></li>
                {{/if}}
                {{#if isAuth }}
                  <li><a href="/logout">Выйти</a></li>
                {{/if}}
            </ul>
        {{!-- </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav> --}}
    </ul>
  </div>
</nav>
