<script defer src="/js/executor.js"></script>
<div class="page-header">
    <h1>Заказы</h1>
</div>

<div>Фильтр заказов:</div>

<select id="selectCategory">
    {{#each category}}
    <option value={{_id}}>
      {{title}}
    </option>
    {{/each}}
  </select>

  <select id="selectSkill">
    {{#each firstCat.skills}}
    <option value={{_id}}>
      {{title}}
    </option>
    {{/each}}
  </select>
  <button id="chooseSkill">Применить</button>
<br />
<br />



<div class="container row">

    {{#each orders}}
      <ul id={{this.id}}>
        <li><b>Тема заказа: </b>{{this.title}}</li>
        <li><b>Описание заказа: </b>{{this.description}}</li>
        <li><b>Выполнить до: </b>{{this.expirationDate}}</li>
        {{#if ../isExecutor}}<button id="doResponse">Откликнуться</button>{{/if}}
        <br/>
      </ul>
    {{/each}}

</div>
