<script defer src="/js/executor.js"></script>
<div class="page-header">
    <h1>Заказы</h1>
</div>

<div>Фильтр заказов:</div>
<form method="POST", action="/orders/filter">
  <label>Категория</label>
  <select id="selectCategory" class="browser-default" name="category">
    <option></option>
    {{#each category}}
    <option value={{_id}}>
      {{title}}
    </option>
    {{/each}}
  </select>

  <label>Услуга</label>
  <select id="selectSkill" class="browser-default" name="skill">
    <option></option>
    {{#each firstCat.skills}}
    <option value={{_id}}>
      {{title}}
    </option>
    {{/each}}
  </select>
  <button id="chooseSkill">Применить</button>
</form>
<br />
<br />



<div class="container row">

    {{#each orders}}
      <ul id={{this.id}}>
        <li><b>Тема заказа: </b>{{this.title}}</li>
        <li><b>Описание заказа: </b>{{this.description}}</li>
        <li><b>Выполнить до: </b>{{this.expirationDate}}</li>
        {{#if ../isAuth}}
          <button id="doResponse">Откликнуться</button>
        {{else}}
          <a href="/login"><button>Откликнуться</button></a>
        {{/if}}
        <br/>
      </ul>
    {{/each}}

</div>
