<script defer src="/js/executor.js"></script>

<div class="page-header">
    <h1>Услуги</h1>
</div>

<div>Фильтр специалистов:</div>
<form method="POST", action="/services/filter">
  <select id="selectCategory" name="category">
    <option></option>
    {{#each category}}
    <option value={{_id}}>
      {{title}}
    </option>
    {{/each}}
  </select>

  <select id="selectSkill" name="skill">
    <option></option>
    {{#each firstCat.skills}}
    <option value={{_id}}>
      {{title}}
    </option>
    {{/each}}
  </select>
  <button id="chooseSkill">Применить</button>
</form>
<br />
<br />

<div class="container row">

    {{#each users}}
      <ul>
        <li><b>Имя специалиста: </b>{{this.username}}</li>
        <li><b>Местоположение: </b>{{this.city}}</li>
        <li><b>Скиллы: </b>{{this.skills}}</li>
        {{#if ../isAuth}}
          <button id="doResponse">Выбрать специалиста</button>
        {{else}}
          <a href="/login"><button>Выбрать специалиста</button></a>
        {{/if}}
        <br/>
      </ul>
    {{/each}}

</div>
