<script defer src="/js/executor.js"></script>
  <div style="height: 300px; width: 300px; border: solid black 2px;">
    <img alt="eto {{executor.username}}">
  </div>
  <form id="uploadForm" enctype="multipart/form-data" action="/executor/avatar" method="post">
  <input type="file" name="userFile" required>
  <input type="submit" value="загрузить" name="submit">
</form>

<form action="/executor" method="post">

  <span>Имя: </span><input type="text" name="name" value="{{executor.username}}"><br>
  <span>Город: </span><input type="text" name="city" value="{{executor.city}}"><br>
  <span> О себе: </span><br>
  <textarea name="story" id="" cols="30" rows="10">{{executor.story}}</textarea><br>
  <span>Скилы: </span><br>
  <div id="skills">
    {{#each executor.skills}}
    <span id="{{_id}}">{{title}} <a href="" class="deleteSkill">X</a>|</span>
    {{/each}}
  </div>
  <select id="selectCategory">
    {{#each category}}
    <option value={{_id}}>
      {{title}}
    </option>
    {{/each}}
  </select>

  <select id="selectSkill">
    {{#each firstCat.skills}}
    <option value={{_id}}>
      {{title}}
    </option>
    {{/each}}
  </select>
  <button id="addSkill">Добавить</button>

  <br>
  <br>
  <br>
  <br>
  <input name="editProfile" type="submit" value="ok">
</form>