
<div class="main">
  <div>
  <div style="min-height: 200px; min-width: 200px;">
      <img src={{executor.avatar}} alt="eto {{executor.username}}">
  </div>

    <h1>{{executor.username}}</h1>
    <span>{{executor.city}}</span><br>
    {{#if isExecutor}}
    <span>{{executor.email}}</span>
    {{/if}}
    <p>{{executor.story}}</p>

    <br>
    {{#if isExecutor}}
    <a href="/executor/editProfile">редактировать профиль</a>
    {{/if}}
    <br>
    <br>
    <br>
    {{#if isExecutor}}
    <a href="/executor/orders">Заказы</a>
    <a href="/executor/orders">Отклики</a>
    {{/if}}
  </div>

  <div>

    <div class="category">
    {{#each executor.skills}}
    <span>{{title}}, </span>
    {{/each}}
    </div>

  </div>

</div>