
<form method='post' action="/customer/neworder">
  <h4>Название</h4>
  <input type="text" name='title'>
  <h4>Описание</h4>
  <textarea name='description'> </textarea>
  <h4>Срок исполнения</h4>
  <input type="text" name="expirationDate">
  <h4>Гонорар</h4>
<input type="number" name="costRange">

  <div id="skills">
    {{#each order.skills}}
    <span id="{{_id}}">{{title}} <a href="" class="deleteSkill">X</a>|</span>
    {{/each}} <br>
    <select name="category" id="selectCategory" class="browser-default" >
      {{#each category}}
      <option value={{_id}}>
        {{title}}
      </option>
      {{/each}}
    </select>

    <select name="skill" id="selectSkill" class="browser-default" >
      {{#each firstCat.skills}}
      <option value={{_id}}>
        {{title}}
      </option>
      {{/each}}
    </select>


    <input type="submit" id="save" value="Сохранить">
</form>
