<div style="min-height: 200px; min-width: 200px;">
  <img src={{customer.avatar}} alt="eto {{customer.username}}">
</div>
<h1>{{customer.username}}</h1>

<div >


  <div>

    <span>{{customer.city}}</span><br>
    <span>{{customer.email}}</span>
    <p>{{customer.story}}</p>

    <a href="/customer/editProfile">редактирвать профиль</a><br>
    <a href="/customer/neworder">Создать новый заказ</a><br>
    <a href="/customer/myorders">Show my orders</a><br>
  </div>


</div>