
<div class="main">
  <div>
    <div style="height: 300px; width: 300px; border: solid black 2px;">
      <img style="height: 300px; width: 300px;" src={{customer.avatar}} alt="eto {{customer.username}}">
    </div>

    <h1>{{customer.username}}</h1>
    <span>{{customer.city}}</span><br>
    {{#if isExecutor}}
    {{else}}
    <span>{{customer.email}}</span>
    {{/if}}
    <p>{{customer.story}}</p>
    <br>
    {{#if isExecutor}}
    {{else}}
    <a href="/customer/editProfile">редактировать профиль</a>
    {{/if}}
    <br>
    <br>
    <br>
  </div>

  <div>

    <div class="category">
    </div>

  </div>

</div>