

<form method='post' action="/customer/myOrders/{{order.id}}/edit">
<h4>Название</h4>
<input type="text" name='title' value="{{order.title}}">
<h4>Описание</h4>
<textarea name='description'> {{order.description}}</textarea>
<h4>Срок исполнения</h4>
  <input type="text" name="expirationDate" value="{{order.expirationDate}}"> 

<div id="skills">
{{#each order.skills}}
{{!-- <span id="{{_id}}">{{title}} <a href="" class="deleteSkill">X</a>|</span> --}}
{{/each}} <br>
<select id="selectCategory" class="browser-default" >
  {{#each category}}
  <option value={{_id}}>
    {{title}}
  </option>
  {{/each}}
</select>

<select id="selectSkill" class="browser-default">
  {{#each firstCat.skills}}
  <option value={{_id}}>
    {{title}}
  </option>
  {{/each}}
</select>
{{!-- <button id="addSkill">Добавить</button> --}}


<input type="submit" value='Сохранить'>
</form>
