<div

  
  style="height: 500px;width: 900px; border: solid black 2px; display: flex; flex-direction: column; flex-wrap: wrap; font-size: 15px; ">
  <h3 style="text-align: center;">Мои заказы</h3>
  {{#each orders}}
  <div >
    <div>Тема: <br>{{title}}</div>
    <div>Описание:{{description}}</div>
    <div>Дата публикации: {{publicationDate}}</div>
    <div>Срок исполнения: {{expirationDate}}</div>
  {{#each categories}}
  <div>Категория: {{title}}</div>
  {{/each}}
    {{#each skills}}
    <div>Скилл: {{title}}</div>
    {{/each}}
  <p>Откликнулись: </p>
  {{#each responses}}
  <div> <a style="color:red" href="executer/{{id}}">{{username}}</a></div>
  {{/each}}
    <a href="/customer/myorders/{{id}}/edit">Редактировать</a>
    <a href="/customer/myorders/{{id}}/delete">Удалить</a>
    <hr/>
  </div>
  <br>
  {{/each}}
<a style="text-align: center"   href="http://localhost:3000/customer/neworder">Создать новый заказ</a>
</div>