

  <h3 style="text-align: center;">Мои заказы</h3>
    <a href="/customer/neworder">Создать новый заказ</a><br>

<div style="display: flex;justify-content: space-between; flex-wrap: wrap;width: 900px;">


  {{#each myOrders}}
  <ul style="position:relative; border:solid black 2px; width:400px;padding: 10px;box-shadow: 0 0 10px" id={{id}}>
    <li><b>Тема : </b>{{title}}</li>
    <li><b>Описание : </b>{{description}}</li>
    <div>Дата публикации: {{publicationDate}}</div>
    <li><b>Выполнить до: </b>{{expirationDate}}</li>
    <li><b>Услуга: </b>{{#each skills}}{{title}}{{/each}}</li>
  
     <p>Откликнулись: </p>
    {{#each responses}}
    <div> <a style="color:red" href="/customer/showExecutor/{{id}}">{{username}}</a></div>
    {{/each}}
    <a href="" class="editOrderCustomer">Редактировать</a>
    <a href="" class="deleteOrderCustomer">Удалить</a>
    <hr />

  </ul>
  {{/each}}

</div>