<div style="min-height: 200px; min-width: 200px;">
  <img src={{executor.avatar}} alt="eto {{executor.username}}">
</div>
<h1>{{executor.username}}</h1>

<div style="display: flex;justify-content: space-around;">


  <div>

    <span>{{executor.city}}</span><br>
    <span>{{executor.email}}</span>
    <p>{{executor.story}}</p>
  <a href="/customer/myOrders">назад</a>
  </div>


  <div class="skillsList">
    {{#each skillsArr}}
    <div id="{{id}}" class="category">
      <b>{{title}}</b><br>
      {{#each skills}}
      <span id={{_id}}>{{title}}, </span> <span>{{price}} $<br></span>
      {{/each}}

    </div>

    {{/each}}
  </div>





</div>